<%# add navigation links to this file %>
<li><%= link_to 'Menus', root_path+"#menus" %></li>
<li><%= link_to 'Order', root_path+"#order" %></li>
<li><%= link_to 'Jobs', jobs_path %></li>
<li><%= link_to 'FAQ', faq_path %></li>
<li><%= link_to 'Hours', hours_path %></li>
